.round-square {
    padding: 0 7px;
    padding-top: 2px;
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 15%;
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
}

.element {
    border-top: 1px solid #F8F7F8;
    padding-top: 5px;
}

.element div p {
    margin: 0;
}

.text-align-left {
    text-align: left;
}

.color-1 {
    background-color: #A88CD8;
}

.color-2 {
    background-color: #0FC3AB;
}

.color-3 {
    background-color: #F9C105;
}
